<ion-header>
  <ion-toolbar class="custom-header">
    <ion-title class="ion-text-light custom-title">Binaniaga</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" class="custom-logout" (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-card *ngFor="let user of User" class="custom-card">
    <div class="image-container">
      <img [src]="user.foto" alt="" class="rounded-image" width="100%" height="100%" />
    </div>
    <ion-card-header class="custom-card-header">
      <ion-card-title class="custom-card-title">{{ user.npm }}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="custom-card-content">
      <ul class="list-group">
        <li class="list-group-item">{{ user.nama }}</li>
        <li class="list-group-item">{{ user.email }}</li>
        <div class="foto">
          <img [src]="user.barcode" alt="barcode" width="100" height="100">
        </div>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
